<ion-view title="Welcome">
	<ion-content padding="true">
		<div id="homeScreen">
			<!-- Logo -->
			<div id="logoSec" class="row">
				<div class="col">
					<img class="fade-in" src="http://placehold.it/350x150">
				</div>
			</div>

			<div class="row">
				<div class="col" >
					<p><h1>Market Watcher</h1></p>
					<p>
						Get notifications for agricultural commodity prices <br />within <br />Trinidad and Tobago
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col" >
					<p>
						<a href="#/app/checkprices" class="button  button-balanced button-block">
  						View Prices
						</a>
					</p>
					<p>
						<a href="#/app/notifications" class="button button-positive button-block">
  						Manage Notifications
						</a>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col" >
					<p><sub>Developed as part of the Agrinet Project of DCIT UWI</sub></p>
				</div>
			</div>

		</div>
	</ion-content>
</ion-view>