<ion-side-menus>
  <ion-side-menu-content>
    <ion-nav-bar class="bar-balanced">
      <ion-nav-back-button class="button-icon ion-arrow-left-c">
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()">
      </button>
    </ion-nav-buttons>
    <ion-nav-view name="content">

    </ion-nav-view>
  </ion-side-menu-content> 
  
  <ion-side-menu side="left">
    <ion-header-bar class="bar-dark">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ul class="list">
        <a href="#/app/checkprices" class="item">Check Prices</a>
        <a href="#/app/notifications" class="item">Notifications</a>
      </ul>
    </ion-content>
  </ion-side-menu>
  
</ion-side-menus>