<ion-view title="Notifications">
	<ion-content padding="true">
	  <p>Swipe to the right to reveal the left menu.</p>
	  <p>(On desktop click and drag from left to right)</p>
	</ion-content>
</ion-view>